<h4 class="widget-title">Reviews</h4>
    <div class="card review-card mb-0">
        <div class="card-body">            
            <!-- Review -->
            <div class="review-list" *ngFor="let review of reviews">
                <div class="review-img">
                    <img class="rounded img-fluid" src="{{review.service_img}}" alt="">
                </div>
                <div class="review-info">
                    <h5><a href="">{{review.description}}</a></h5>
                    <div class="review-date">{{review.date | date : 'MMMM dd, yyyy HH:mm a'}}</div>
                    <p class="mb-2">{{review.commands}}</p>
                    <div class="review-user">
                        <img class="avatar-xs rounded-circle" src="{{review.user_img}}" alt=""> {{review.user_name}}
                    </div>
                </div>
                <div class="review-count">
                    <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <span class="d-inline-block average-rating">({{review.ratings}})</span>
                    </div>
                </div>
            </div>
            <!-- /Review -->      
        </div>
    </div>