<div class="row">
	<div class="col-xl-8 offset-xl-2">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Add Rating Type</h3>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		
		<div class="card">
			<div class="card-body">
			
				<!-- Form -->
				<form>
					<div class="form-group">
						<label>Ratings Type</label>
						<input class="form-control" type="text">
					</div>
					<div class="mt-4">
						<button (click)="submit()" class="btn btn-primary" type="submit">Submit</button>
						<a [routerLink]="'/admin/rating-type'" class="btn btn-link">Cancel</a>
					</div>
				</form>
				<!-- /Form -->
				
			</div>
		</div>
	</div>
</div>