<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div>
                    <h4 class="widget-title">Notifications</h4>
                    <div class="notcenter">
                        <div class="notificationlist" *ngFor="let notification of notifications">
                            <div class="inner-content-blk position-relative">
                                <div class="d-flex text-dark">
                                    <img class="rounded" src="{{notification.img}}" width="50" alt="">
                                    <div class="noti-contents">
                                        <h3><strong>{{notification.text}}</strong></h3>
                                        <span>{{notification.date | date : 'MMMM dd, yyyy HH:mm a'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                        
                    <!-- Pagination -->
                    <div class="pagination">
                        <ul>
                            <li class="active">
                                <a href="javascript:void(0);">1</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">2</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">3</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">4</a>
                            </li>
                            <li class="arrow">
                                <a href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Pagination -->
                    
                </div>
            </div>
        </div>
    </div>
</div>