
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Provider Name</th>
												<th>Contact No</th>
												<th>Email</th>
												<th>Reg Date</th>
												<th>Subscription</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let subscription of subscriptions">
												<td>{{subscription.id}}</td>
												<td>
													<h2 class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{subscription.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{subscription.provider_name}}</a>
													</h2>
												</td>
												<td>{{subscription.mobile}}</td>
												<td>{{subscription.email}}</td>
												<td>{{subscription.date | date : 'dd MM yyyy'}}</td>
												<td>{{subscription.subscription}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>