<h4 class="widget-title">Payment History</h4>
<div class="card transaction-table mb-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services">
                        <td>
                            <a href="javascript:void(0);">
                                <img src="{{service.service_img}}" class="pro-avatar" alt=""> {{service.service_name}}
                            </a>
                        </td>
                        <td>
                            <img class="avatar-xs rounded-circle" src="{{service.user_img}}" alt=""> {{service.user_name}}
                        </td>
                        <td>{{service.date  | date : 'MMMM dd, yyyy HH:mm a'}}</td>
                        <td><strong>{{service.amount}}</strong></td>
                        <td>
                            <span [className]="service.status === 'Payment Completed' ? 'badge bg-success-light' : 'badge bg-danger-light'">{{service.status}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>