<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>Provider</th>
                                <th>Service</th>
                                <th>Type Name</th>
                                <th>Ratings</th>
                                <th>Comments</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let report of reports">
                                <td>{{report.id}}</td>
                                <td>{{report.date | date: "d MMM yyyy"}}</td>
                                <td>
                                    <span class="table-avatar">
                                        <a href="javascript:void(0);" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" alt="" src="{{report.user_img}}">
                                        </a>
                                        <a href="javascript:void(0);">{{report.user_name}}</a>
                                    </span>
                                </td>
                                <td>
                                    <span class="table-avatar">
                                        <a href="javascript:void(0);" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" alt="" src="{{report.provider_img}}">
                                        </a>
                                        <a href="javascript:void(0);">{{report.provider_name}}</a>
                                    </span>
                                </td>
                                <td>{{report.service}}</td>
                                <td>{{report.type_name}}</td>
                                <td>{{report.ratings}}</td>
                                <td>{{report.commands}}</td>
                                <td class="text-right">
                                    <a data-id="40" href="javascript:void(0);" class="btn btn-sm bg-danger-light mr-2 delete_review_comment">	<i class="far fa-trash-alt mr-1"></i> Delete</a>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>