<div class="card mb-0">
    <div class="card-body">
        <form>
            <div class="form-group">
                <p>Availability <span class="text-danger">*</span>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table availability-table">
                                <tbody>
                                    <tr *ngFor="let available_day of available_days">
                                        <td>
                                            <input type="checkbox" class="mr-1">{{available_day.day}}
                                        </td>
                                        <td class="w-180">
                                            From Time 
                                            <span class="time-select">
                                                <ng-select2 width="100%">
                                                    <option>Select Time</option>
                                                    <option >00:00 AM</option>
                                                    <option>01:00 AM</option>
                                                    <option>02:00 AM</option>
                                                    <option>03:00 AM</option>
                                                    <option>04:00 AM</option>
                                                    <option>05:00 AM</option>
                                                    <option>06:00 AM</option>
                                                    <option>07:00 AM</option>
                                                    <option>08:00 AM</option>
                                                    <option>09:00 AM</option>
                                                    <option>10:00 AM</option>
                                                    <option>11:00 AM</option>
                                                    <option>12:00 PM</option>
                                                    <option>01:00 PM</option>
                                                    <option>02:00 PM</option>
                                                    <option>03:00 PM</option>
                                                    <option>04:00 PM</option>
                                                    <option>05:00 PM</option>
                                                    <option>06:00 PM</option>
                                                    <option>07:00 PM</option>
                                                    <option>08:00 PM</option>
                                                    <option>09:00 PM</option>
                                                    <option>10:00 PM</option>
                                                    <option>11:00 PM</option>
                                                </ng-select2>
                                                
                                            </span>
                                        </td>
                                        <td class="w-155">
                                            To Time
                                            <span class="time-select">
                                                <ng-select2 width="100%">
                                                    <option>Select Time</option>
                                                    <option>00:00 AM</option>
                                                    <option>01:00 AM</option>
                                                    <option>02:00 AM</option>
                                                    <option>03:00 AM</option>
                                                    <option>04:00 AM</option>
                                                    <option>05:00 AM</option>
                                                    <option>06:00 AM</option>
                                                    <option>07:00 AM</option>
                                                    <option>08:00 AM</option>
                                                    <option>09:00 AM</option>
                                                    <option>10:00 AM</option>
                                                    <option>11:00 AM</option>
                                                    <option>12:00 PM</option>
                                                    <option>01:00 PM</option>
                                                    <option>02:00 PM</option>
                                                    <option>03:00 PM</option>
                                                    <option>04:00 PM</option>
                                                    <option>05:00 PM</option>
                                                    <option>06:00 PM</option>
                                                    <option>07:00 PM</option>
                                                    <option>08:00 PM</option>
                                                    <option>09:00 PM</option>
                                                    <option>10:00 PM</option>
                                                    <option>11:00 PM</option>
                                                </ng-select2>
                                                
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-section text-right">
                <a class="btn btn-primary submit-btn" href="javascript:void(0)" type="submit">Submit</a>
            </div>
        </form>
    </div>
</div>