<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Service</th>
                                <th>Location</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of services">
                                <td>1</td>
                                <td>
                                    <a href="javascript:void(0)">
                                        <img class="rounded service-img mr-1" src="{{service.service_img}}" alt=""> {{service.service_name}}
                                    </a>
                                </td>
                                <td>{{service.country}}</td>
                                <td>{{service.name}}</td>
                                <td>{{service.amount}}</td>
                                <td>{{service.date | date : 'dd MMM yyyy'}}</td>
                                <td>
                                    <div class="status-toggle">
                                        <input id="service_1" class="check" type="checkbox">
                                        <label for="service_1" class="checktoggle">checkbox</label>
                                    </div>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye mr-1"></i> View
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>