<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Wallet</h4>
                <div class="wallet-details">
                    <span>Wallet Balance</span>
                    <h3>$872.1</h3>
                    <div class="d-flex justify-content-between my-4">
                        <div>
                            <p class="mb-1">Total Credit</p>
                            <h4>$29,720.80</h4>
                        </div>
                        <div>
                            <p class="mb-1">Total Debit</p>
                            <h4>$29,258.00</h4>
                        </div>
                    </div>
                    <div class="wallet-progress-chart">
                        <div class="d-flex justify-content-between">
                            <span>$29258</span>
                            <span>$29,720.80</span>
                        </div>
                        <div class="progress mt-1">
                            <div class="progress-bar bg-theme" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100" style="width:98%">98.44%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Wallet</h4>
                <form action="#">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text display-5">$</label>
                            </div>
                            <input type="text" maxlength="4" class="form-control" name="wallet_amt" id="wallet_amt" placeholder="00.00">
                        </div>
                    </div>
                </form>
                <div class="text-center mb-3">
                    <h5 class="mb-3">OR</h5>
                    <ul class="list-inline mb-0">
                        <li class="line-inline-item mb-0 d-inline-block mr-1">
                            <a href="javascript:;" class="updatebtn">$50</a>
                        </li>
                        <li class="line-inline-item mb-0 d-inline-block mr-1">
                            <a href="javascript:;" data-amount="100" class="updatebtn">$100</a>
                        </li>
                        <li class="line-inline-item mb-0 d-inline-block  mr-1">
                            <a href="javascript:;" data-amount="150" class="updatebtn">$150</a>
                        </li>
                    </ul>
                </div>
                <a href="javascript:void(0);" class="btn btn-primary btn-block withdraw-btn">Add to Wallet</a>
            </div>
        </div>
    </div>
</div>
<h4 class="mb-4">Wallet Transactions</h4>
<div class="card transaction-table mb-0">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-center mb-0">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Date</th>
                        <th>Wallet</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Txt amt</th>
                        <th>Available</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td>{{transaction.id}}</td>
                        <td>{{transaction.date  | date : 'dd MMM yyyy'}}</td>
                        <td>${{transaction.wallet}}</td>
                        <td>${{transaction.credit}}</td>
                        <td>${{transaction.debit}}</td>
                        <td>${{transaction.tax_amount}}</td>
                        <td>{{transaction.available}}</td>
                        <td>{{transaction.reason}}</td>
                        <td><span [className]="transaction.status === 'Credit' ? 'badge bg-success-light' : 'badge bg-danger-light'">{{transaction.status}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>