
<!-- Page Content -->                
<div class="row">                    
    <div class="col-12">
        <!-- Tab Menu -->
        <nav class="user-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li>
                    <a class="nav-link active" href="#all" data-toggle="tab">All Booking <span class="badge badge-primary">550</span></a>
                </li>
                <li>
                    <a class="nav-link" href="#pending" data-toggle="tab">Pending <span class="badge badge-primary">125</span></a>
				</li>
				<li>
                    <a class="nav-link" href="#inprogress" data-toggle="tab">Inprogress <span class="badge badge-primary">86</span></a>
				</li>
				<li>
                    <a class="nav-link" href="#completed" data-toggle="tab">Completed <span class="badge badge-primary">89</span></a>
				</li>
				<li>
                    <a class="nav-link" href="#rejected" data-toggle="tab">Rejected <span class="badge badge-primary">101</span></a>
				</li>
				<li>
                    <a class="nav-link" href="#canceled" data-toggle="tab">Canceled <span class="badge badge-primary">121</span></a>
				</li>
				
            </ul>
        </nav>
        <!-- /Tab Menu -->
        <!-- Tab Content -->
        <div class="tab-content">
            <div role="tabpanel" id="all" class="tab-pane fade show active">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>User</th>
												<th>Provider</th>
												<th>Service</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let allReport of allReports">
												<td>{{allReport.id}}</td>
												<td>{{allReport.date | date : 'dd MMM yyyy'}}</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{allReport.user_img}}">
														</a>
														<a href="javascript:void(0);">{{allReport.user_name}}</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{allReport.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{allReport.provider_name}}</a>
													</span>
												</td>
												<td>{{allReport.service}}</td>
												<td>{{allReport.amount}}</td>
												<td>
													<label *ngIf="allReport.status === 'Pending'" class="badge badge-dark">Pending</label>
													<label *ngIf="allReport.status === 'Inprogress'" class="badge badge-info">Inprogress</label>
													<label *ngIf="allReport.status === 'Complete Request'" class="badge badge-primary">Complete Request</label>
													<label *ngIf="allReport.status === 'Rejected by User'" class="badge badge-warning">Rejected by User</label>
													<label *ngIf="allReport.status === 'Cancelled by Provider'" class="badge badge-danger">Cancelled by Provider</label>
												</td>
												<td>{{allReport.updated}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div role="tabpanel" id="pending" class="tab-pane fade">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>User</th>
												<th>Provider</th>
												<th>Service</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let pendingReport of pendingReports">
												<td>{{pendingReport.id}}</td>
												<td>{{pendingReport.date | date : 'dd MMM yyyy'}}</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{pendingReport.user_img}}">
														</a>
														<a href="javascript:void(0);">{{pendingReport.user_name}}</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{pendingReport.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{pendingReport.provider_name}}</a>
													</span>
												</td>
												<td>{{pendingReport.service}}</td>
												<td>{{pendingReport.amount}}</td>
												<td>
													<label class="badge badge-dark">{{pendingReport.status}}</label>
												</td>
												<td>{{pendingReport.updated}}</td>
											</tr>
											
										</tbody>
									</table>
								</div>
							</div>							  
						</div>
					</div>
				</div>            
			</div>
			<div role="tabpanel" id="inprogress" class="tab-pane fade">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>User</th>
												<th>Provider</th>
												<th>Service</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let inprogressReport of inprogressReports">
												<td>{{inprogressReport.id}}</td>
												<td>{{inprogressReport.date | date : 'dd MMM yyyy'}}</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{inprogressReport.user_img}}">
														</a>
														<a href="javascript:void(0);">{{inprogressReport.user_name}}</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{inprogressReport.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{inprogressReport.provider_name}}</a>
													</span>
												</td>
												<td>{{inprogressReport.service}}</td>
												<td>{{inprogressReport.amount}}</td>
												<td>
													<label class="badge badge-info">{{inprogressReport.status}}</label>
												</td>
												<td>{{inprogressReport.updated}}</td>
											</tr>
											
										</tbody>
									</table>
								</div> 
							</div>
						</div>
					</div>
				</div>   
			</div>
			<div role="tabpanel" id="completed" class="tab-pane fade">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>User</th>
												<th>Provider</th>
												<th>Service</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let completedReport of completedReports">
												<td>{{completedReport.id}}</td>
												<td>{{completedReport.date | date : 'dd MMM yyyy'}}</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{completedReport.user_img}}">
														</a>
														<a href="javascript:void(0);">{{completedReport.user_name}}</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{completedReport.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{completedReport.provider_name}}</a>
													</span>
												</td>
												<td>{{completedReport.service}}</td>
												<td>{{completedReport.amount}}</td>
												<td>
													<label class="badge badge-success">{{completedReport.status}}</label>
												</td>
												<td>{{completedReport.updated}}</td>
											</tr>
											
										</tbody>
									</table>
								</div>    
							</div>
						</div>
					</div>
				</div>   
			</div>
			<div role="tabpanel" id="rejected" class="tab-pane fade">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>User</th>
												<th>Provider</th>
												<th>Service</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Updated</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let rejectedReport of rejectedReports">
												<td>{{rejectedReport.id}}</td>
												<td>{{rejectedReport.date | date : 'dd MMM yyyy'}}</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{rejectedReport.user_img}}">
														</a>
														<a href="javascript:void(0);">{{rejectedReport.user_name}}</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{rejectedReport.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{rejectedReport.provider_name}}</a>
													</span>
												</td>
												<td>{{rejectedReport.service}}</td>
												<td>{{rejectedReport.amount}}</td>
												<td>
													<label [className]="rejectedReport.status === 'Rejected'? 'badge badge-warning' : 'badge badge-success'" class="">{{rejectedReport.status}}</label>
												</td>
												<td>{{rejectedReport.updated}}</td>
											</tr>
											
										</tbody>
									</table>
								</div> 
							</div>
						</div>
					</div>
				</div>										
			</div>
			<div role="tabpanel" id="canceled" class="tab-pane fade">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>#</th>
												<th>Date</th>
												<th>User</th>
												<th>Provider</th>
												<th>Service</th>
												<th>Amount</th>
												<th>Status</th>
												<th>Updated</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let canceledReport of canceledReports">
												<td>{{canceledReport.id}}</td>
												<td>{{canceledReport.date | date : 'dd MMM yyyy'}}</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{canceledReport.user_img}}">
														</a>
														<a href="javascript:void(0);">{{canceledReport.user_name}}</a>
													</span>
												</td>
												<td>
													<span class="table-avatar">
														<a href="javascript:void(0);" class="avatar avatar-sm mr-2">
															<img class="avatar-img rounded-circle" alt="" src="{{canceledReport.provider_img}}">
														</a>
														<a href="javascript:void(0);">{{canceledReport.provider_name}}</a>
													</span>
												</td>
												<td>{{canceledReport.service}}</td>
												<td>{{canceledReport.amount}}</td>
												<td>
													<label class="badge badge-danger">{{canceledReport.status}}</label>
												</td>
												<td>{{canceledReport.updated}}</td>
												<td class="text-right">
													<a href="javascript:void(0);" class="btn btn-sm bg-success-light mr-2">
														<i class="far fa-edit mr-1"></i> Edit
													</a>
												</td>
											</tr>							
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>	
            </div>
        </div>
        <!-- /Tab Content -->
    </div>
</div>	
<!-- /Page Content -->
