<div class="row">
	<div class="col-lg-4">
		<a [routerLink]="'/customers/my-bookings'" class="dash-widget dash-bg-1">
			<span class="dash-widget-icon">223</span>
			<div class="dash-widget-info">
				<span>Bookings</span>
			</div>
		</a>
	</div>
	<div class="col-lg-4">
		<a [routerLink]="'/customers/reviews'" class="dash-widget dash-bg-2">
			<span class="dash-widget-icon">16</span>
			<div class="dash-widget-info">
				<span>Reviews</span>
			</div>
		</a>
	</div>
	<div class="col-lg-4">
		<a [routerLink]="'/pages/notifications'" class="dash-widget dash-bg-3">
			<span class="dash-widget-icon">1</span>
			<div class="dash-widget-info">
				<span>Notification</span>
			</div>
		</a>
	</div>
</div>